<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CycleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CycleApp.Properties.Settings>
            <setting name="PwxDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxHeartBeat" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="WindowBounds" serializeAs="String">
                <value>0,0,1000,600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CurrentPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapZoom" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MapPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitterPos" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ShowActivities" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MapLong" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PinMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MapSplitterPos" serializeAs="String">
                <value>300</value>
            </setting>
        </CycleApp.Properties.Settings>
    </userSettings>
</configuration>